.spinner-b {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 25%;
    left: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-top-color: #f60;
    animation: spinner 0.6s linear infinite;
}
@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinnerName {
    width: 200px;
    height: 300px;
}

.pointer {
    cursor: pointer;
}

.marginAuto{
    margin: 0 auto;
}

.btn-cart {
        color: #fff !important;
        background-color: #17a2b8 !important;
        border-color: #17a2b8 !important;
}

.btnBorrow {
    color: #fff !important;
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
}


.btnPreview{
    color: #fff !important;
    background-color: #1fb38c !important;
    border-color:#1fb38c !important;
}

.btn_Button{
    display: inline-block;
    font-weight: 400;
    text-transform: capitalize;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.flexRow{
    display: flex;
    flex-direction: row;
}

.flexColumn{
    display: flex;
    flex-direction: column;
}

.flexRow input{
    width: 50%;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ffff;
    color: #000;
   border: 1px solid #e5e5e5;
    margin: 1rem;
}

.flexColumn input{
    width: 93%;
    background-color: #e5e5e5;
    color: #ffff;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ffff;
    color: #000;
   border: 1px solid #e5e5e5;
    margin: 1rem;

}

.input:focus{
    outline-color: #f60;
}
.signupCointer{
    width: 50%;
    margin: 9rem auto;
    padding: 10px;
    background: #24323d;
}

.signupCointer h1{
    color: #fff;
    text-align: center;
}

.btnPos{
    margin: 0 auto;
    text-align: center;
}
.nav-tabs{
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 0;
}

.nav-tabs li{
    width: 100%;
    font-size: 21px;
    background: #1ab188;
    padding: 5px 0px;
    text-align: center;
    border-radius: 5px;
    margin: 0 10px;
    color: transparent;
    cursor: pointer;
}

.nav-tabs li+li{
    width: 100%;
    font-size: 21px;
    background: #43515a;
    padding: 5px 0px;
    text-align: center;
    border-radius: 5px;
    margin: 0 10px;
    color: transparent;
    cursor: pointer;
} 

.nav-item a{
    color: white;
}
